{%extends "layout.html"%}
{%block content%}

<div=class"contact">
    <h1>Contact McGuinness Creations</h1>
    <p>You can reach out to us on Facebook at:</p>
    <p> Click <a href="https://www.facebook.com/mcguinnesscreations/"> here </a> to message us on Facebook! </p>
    <p>We love hearing from customers!</p>
    <p> Also check us out on Etsy at
       <a href="https://www.etsy.com/shop/McGuinnessCreations?ref=profile_shopname"> McGuinness Creations </a> </p>
  </div>
{%endblock%}
